* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  gap: 60px;
}

nav{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

nav ul{
  display:flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  list-style:none;
  padding: 0;
  margin: 0;
}

nav a{
  text-decoration:none;
  color: black;
}

nav :hover{
  color:#f4ce14;
}

nav :active{
  color: blue;
}


header img{
  height: auto;
  width: auto;
  margin: 0 auto;
}

main{
  width: 100%;
}

.hero {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background-color: #495E57;
  min-height: 250px;
}

.hero-content {
  grid-column: 3 / 8;
  padding: 20px 0;
  color: white;
}

.hero-content h1{
  color: #f4ce14;
  margin: 0;
}

.hero-content h2 {
  margin: 0;
}

.hero-content p{
  max-width: 300px;
}

.hero-content button, .specials button{
  background-color: #f4ce14;
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
}

.hero-image {
  grid-column: 8 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: 220px;
  object-fit:cover;
  border-radius: 8px;
  display: block;
}

.specials{
  width: 80%;
  max-width: 1200px;
  margin: 70px auto;
}

.specials-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-header button{
  background-color: #f4ce14;
  border: none;
  border-radius: 8px;
  padding: 12 px 25px;
  font-weight: bold;
}
 img{
  width: 100%;
  height: 400px;
  object-fit:cover;
  border-radius: 8px;
 }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background-color: #edefee;
}

.card img {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title{
  display: flex;
  justify-content: space-between;
}

.card-title h3{
  margin: 0;
}

.card-title span {
  color: #ee9972;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
}
footer{
  padding: 20px;
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


@media (max-width: 768px) {
  .header, nav, .specials {
    width: 90%;
  }
  nav ul{
    flex-direction: column;
    gap: 15px;
  }
  .hero {
    width: 95%;
    grid-template-columns: 1fr;
  }

  .hero-content, .hero-image{
    grid-column: 1;
  }

  .hero-content {
    padding: 30px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .specials-header{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

